<div class="container">
  <h2 class="mb-4"><i class="fas fa-layer-group"></i> Gestión de Áreas</h2>


  <!-- Input de búsqueda -->
  <div class="mb-4">
    <input type="text" class="form-control" placeholder="Buscar area..." [(ngModel)]="filtro" />
  </div>
  
  <!-- Botón Agregar -->
  <div class="mb-3">
    <button class="btn btn-primary" (click)="agregarArea()">
      <i class="bi bi-plus-circle"></i> Agregar Área
    </button>
  </div>

  <!-- Tabla de Áreas -->
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th><i class="fas fa-hashtag"></i> ID</th>
        <th><i class="fas fa-tag"></i> Nombre del Área</th>
        <th><i class="fas fa-cogs"></i> Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of obtenerAreasFiltradas()">
        <td>{{ area.id }}</td>
        <td>{{ area.nomarea }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="editarArea(area)">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button class="btn btn-sm btn-danger" (click)="eliminarArea(area.id!)">

            <i class="bi bi-trash"></i> Eliminar
          </button>
        </td>
      </tr>
          <tr *ngIf="areas.length === 0">
            <td colspan="7" class="text-center">No hay areas registradas</td>
          </tr>
    </tbody>
  </table>

    <!-- Formulario para agregar/editar área -->
    <div class="card mb-3" *ngIf="mostrarFormulario">
      <div class="card-body">
        <h5 class="card-title">{{ areaSeleccionada.id ? 'Editar Área' : 'Agregar Nueva Área' }}</h5>
  
        <form (ngSubmit)="guardarArea()">
          <div class="mb-3">
            <label for="nomarea" class="form-label">Nombre del Área</label>
            <input type="text" class="form-control" id="nomarea" [(ngModel)]="areaSeleccionada.nomarea" name="nomarea" required>
          </div>
          <button type="submit" class="btn btn-success me-2">Guardar</button>
          <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
        </form>
      </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

